{% extends 'SansthonProdBundle::layout.html.twig' %}

{% block body -%}
  <header>
    <h1>Stock creation</h1>
  </header>
    <form action="{{ path('stock_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stock') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
