<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">SansThon</a>
            <ul class="nav">
                <li><a href="/frontend_dev.php/etat/etatByEtape">Classé par Etape</a></li>
            </ul>
        </div>
     </div>
</div>
