{% extends 'SansthonProdBundle::layout.html.twig' %}
{% block titleright %}
    {%if etape is not null %}
        etape:  {{etape.nom}}
    {%endif%}
{% endblock %}
{% block body -%}
    {%if etape is not null %}
        <h1>En cours pour {{etape.nom}}</h1>
    {%else %}
       <h1>En cours par Étape </h1>
    {%endif%}
    
{% include 'SansthonProdBundle:Etat:EntitySelect.html.twig'
               with {'entities': etapes, 'path': 'etat_by_etape','current': etape}
%}

    {% include 'SansthonProdBundle:Etat:enCoursTab.html.twig'
               with {'etatList': etats}
%}
 
    <!-- Modal -->
    {% block modal -%}
    {% endblock %}
{% endblock %}
