{% extends 'SansthonProdBundle::layout.html.twig' %}
{% block titleright %}
    {%if personne is not null %}
   Pers:  {{personne.nom}}
    {%endif%}
{% endblock %}

{% block body -%}
     {%if personne is not null %}
        <h1>En cours {{personne.prenom}} {{personne.nom}} </h1>
     {%else %}
        <h1>En cours par Personne </h1>
    {%endif%}
    {% block select -%}
        {% include 'SansthonProdBundle:Etat:PersonneSelect.html.twig'
                       with {'personnes': personnes, 'path': 'etat_by_personne','current': personne}
        %}
    {% endblock %}
    {% block encoursTab -%}
        {% include 'SansthonProdBundle:Etat:enCoursTab.html.twig'
                       with {'etatList': etats}
        %}

    {% endblock %}
        <!--
    {%if personne is not null %}
        <h2> Nouveau </h2>
        {% block rapidNew -%}
            {% include 'SansthonProdBundle:Etat:rapidNew.html.twig'
              with {'types': types}
            %}
        {% endblock %}
    {% endif %}
        -->
        <!-- Modal -->
    {% block modal -%}
    {% endblock %}  
{% endblock %}
