{% extends 'SansthonProdBundle::layout.html.twig' %}
{% block titleright %}
    {%if type is not null %}
   Ref:  {{type.getReference}}
    {%endif%}
{% endblock %}
{% block body -%}
{%if type is not null %}
    <h1> En cours pour {{type.getReference}} </h1>
{%else%}
    <h1>En cours par Réfèrence </h1>
{%endif%}
  {% block select -%}
{% include 'SansthonProdBundle:Etat:TypeSelect.html.twig'
               with {'types': types, 'path': 'etat_by_type','current': type}
 %}
    {% endblock %}
    {% block stockblock -%}
 {% include 'SansthonProdBundle:Etat:stockBlock.html.twig'
               with {'stocks': stocks}
%}
    {% endblock %}
{% block encourstab -%}
{% include 'SansthonProdBundle:Etat:enCoursTab.html.twig'
               with {'etatList': etatList}
%}
    {% endblock %}
 {% block stockmodal -%}
 {% include 'SansthonProdBundle:Etat:stockBlockModal.html.twig'
               with {'stocks': stocks}
%}
 {% endblock %}
{% endblock %}
